WpfApplication1/Web References/Michelin/webservicemeteo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetTemperature">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ville" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTemperatureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTemperatureResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AcheterVoiture">
        <s:complexType />
      </s:element>
      <s:element name="AcheterVoitureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AcheterVoitureResult" type="tns:Voiture" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Voiture">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Prix" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Marque" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTemperatureSoapIn">
    <wsdl:part name="parameters" element="tns:GetTemperature" />
  </wsdl:message>
  <wsdl:message name="GetTemperatureSoapOut">
    <wsdl:part name="parameters" element="tns:GetTemperatureResponse" />
  </wsdl:message>
  <wsdl:message name="AcheterVoitureSoapIn">
    <wsdl:part name="parameters" element="tns:AcheterVoiture" />
  </wsdl:message>
  <wsdl:message name="AcheterVoitureSoapOut">
    <wsdl:part name="parameters" element="tns:AcheterVoitureResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceMeteoSoap">
    <wsdl:operation name="GetTemperature">
      <wsdl:input message="tns:GetTemperatureSoapIn" />
      <wsdl:output message="tns:GetTemperatureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AcheterVoiture">
      <wsdl:input message="tns:AcheterVoitureSoapIn" />
      <wsdl:output message="tns:AcheterVoitureSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceMeteoSoap" type="tns:WebServiceMeteoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTemperature">
      <soap:operation soapAction="http://tempuri.org/GetTemperature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcheterVoiture">
      <soap:operation soapAction="http://tempuri.org/AcheterVoiture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceMeteoSoap12" type="tns:WebServiceMeteoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTemperature">
      <soap12:operation soapAction="http://tempuri.org/GetTemperature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcheterVoiture">
      <soap12:operation soapAction="http://tempuri.org/AcheterVoiture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceMeteo">
    <wsdl:port name="WebServiceMeteoSoap" binding="tns:WebServiceMeteoSoap">
      <soap:address location="http://localhost:55547/webservicemeteo.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceMeteoSoap12" binding="tns:WebServiceMeteoSoap12">
      <soap12:address location="http://localhost:55547/webservicemeteo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>